*{margin: 0;padding: 0;}
body{background-color: aliceblue;}
header{width: 100%;
    height: 80px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 4px black;
    display: flex;
    justify-content: space-between;
}
header img{cursor: pointer;}
header ul{overflow: hidden;}
header ul li{
    position: relative;
    list-style-type: none;
    padding-top: 2rem;
}
header ul li a{text-decoration: none;
    color:black;
    font-size: 20px;
    margin: 0rem 1rem;
    text-align: center;
    padding-top: 1rem;animation: 0.6s ease-in;
}
header ul li a:hover{color: rgb(238, 16, 112);}

main{width: 100%;height:70vh;overflow: hidden;background-color: aqua;}
.top-banner{width: 100%;height:80%;box-shadow: 0 0 10px black;overflow: hidden;}
article{width: 100%;height: 100vh;background-color: transparent;}
.info{display: inline-flex;width: 100%;justify-content: space-around;background-color: transparent;}

.paysera{background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;width: 300px;height: 300px;text-align: center;box-shadow: 0 0 5px rgb(220, 30, 30);}
.paysera h2{color: aliceblue;margin: 0.2rem;}
.paysera button{margin: 1rem 0rem;}

.wise{background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;width: 300px;height: 300px;text-align: center;box-shadow: 0 0 5px rgb(225, 28, 28);}
.wise h2{color: aliceblue;margin: 0.2rem;}
.wise button{margin: 1rem 0rem;}

.netflix{background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block; width: 300px;height: 300px;text-align: center;box-shadow: 0 0 5px rgb(218, 24, 24);}
.netflix h2{color: aliceblue;margin: 0.2rem;}
.netflix button{margin: 1rem 0rem;}

.btn2{width: 70%;height: 50px;border-radius: 50% 20% / 10% 40%;background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: 0.4s ease;box-shadow: 0 0 5px black;color: aliceblue;}
.btn2:hover{background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;}

.btn{background-color: aquamarine;text-decoration:double;color: red;font-size: 30px;}
.item1{width:100%; height:300px;background-image: url(Pic/pubnet.png);background-size: 100% 300px;}
.item1 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.item2{width:100%; height:300px;background-image: url(Pic/pubwise.png);background-size: 100% 300px;}
.item2 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.item3{width:100%; height:300px;background-image: url(Pic/pubnet.png);background-size: 100% 300px;}
.item3 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.item4{width:100%; height:300px;background-image: url(Pic/pubwise.png);background-size: 100% 300px;}
.item4 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}
.right{background-color: #1680e9;height: 70vh;}
footer{background-color: black;width: 100%;height: 80px;}
.logobig{width: 100%;height: 250px;cursor: pointer;}
.socialmedia ul li a img{margin: 0.2rem 1rem;}
.socialmedia ul {margin: 0.5rem 0rem; }


/*حجم 930*/
@media screen and (max-width:930px) and (min-width:651px) {
    *{margin: 0;padding: 0;}
body{background-color: rgb(22, 126, 216);}
header{width: 100%;
    height: 80px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 4px black;
    display: flex;
    justify-content: space-between;
}
header img{cursor: pointer;}
header ul{overflow: hidden;}
header ul li{
    position: relative;
    list-style-type: none;
    padding-top: 2rem;
}
header ul li a{text-decoration: none;
    color:black;
    font-size: 20px;
    margin: 0rem 1rem;
    text-align: center;
    padding-top: 1rem;animation: 0.6s ease-in;
}
header ul li a:hover{color: rgb(238, 16, 112);}

main{width: 100%;height:70vh;overflow: hidden;background-color: aqua;}
.top-banner{width: 100%;height:80%;box-shadow: 0 0 10px black;overflow: hidden;}

.right{width: 100%;height: 200vh;background-color: transparent;}
.info{display: block;width: 100%;height: 150vh; justify-content: center;background-color: transparent;}
.info div{margin: 1rem 0rem;}
.paysera{background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;width: 300px;height: 300px;text-align: center;box-shadow: 0 0 5px rgb(220, 30, 30);}
.paysera h2{color: aliceblue;margin: 0.2rem;}
.paysera button{margin: 1rem 0rem;}

.wise{background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;width: 300px;height: 300px;text-align: center;box-shadow: 0 0 5px rgb(225, 28, 28);}
.wise h2{color: aliceblue;margin: 0.2rem;}
.wise button{margin: 1rem 0rem;}

.netflix{background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block; width: 300px;height: 300px;text-align: center;box-shadow: 0 0 5px rgb(218, 24, 24);}
.netflix h2{color: aliceblue;margin: 0.2rem;}
.netflix button{margin: 1rem 0rem;}

.btn2{width: 70%;height: 50px;border-radius: 50% 20% / 10% 40%;background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: 0.4s ease;box-shadow: 0 0 5px black;color: aliceblue;}
.btn2:hover{background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;}

.btn{background-color: aquamarine;text-decoration:double;color: red;font-size: 30px;}
.item1{width:100%; height:50vh;background-image: url(Pic/pubnet.png);background-size: 100% 300px;}
.item1 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.item2{width:100%; height:50vh;background-image: url(Pic/pubwise.png);background-size: 100% 300px;}
.item2 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.item3{width:100%; height:50vh;background-image: url(Pic/pubnet.png);background-size: 100% 300px;}
.item3 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.item4{width:100%; height:50vh;background-image: url(Pic/pubwise.png);background-size: 100% 300px;}
.item4 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.logobig{width: 100%;height: 250px;cursor: pointer;}
.socialmedia ul li a img{margin: 0.2rem 1rem;}
.socialmedia ul {margin: 0.5rem 0rem; }
footer{background-color: black;width: 100%;height: 10vh;}
}

@media screen and (max-width:650px) {
    *{margin: 0;padding: 0;}
body{background-color: rgb(48, 216, 22);}
header{width: 100%;
    height: 80px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 4px black;
    display: flex;
    justify-content: space-between;
}
header img{cursor: pointer;}
header ul{overflow: hidden;}
header ul li{
    position: relative;
    list-style-type: none;
    padding-top: 2rem;
}
header ul li a{text-decoration: none;
    color:black;
    font-size: 20px;
    margin: 0rem 1rem;
    text-align: center;
    padding-top: 1rem;animation: 0.6s ease-in;
}
header ul li a:hover{color: rgb(238, 16, 112);}

main{width: 100%;height:70vh;overflow: hidden;background-color: aqua;}
.top-banner{width: 100%;height:80%;box-shadow: 0 0 10px black;overflow: hidden;}

.right{width: 100%;height: 200vh;background-color: transparent;}
.info{display: block;width: 100%;height: 150vh; justify-content: center;background-color: transparent;}
.info div{margin: 1rem 0rem;}
.paysera{background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;width: 300px;height: 300px;text-align: center;box-shadow: 0 0 5px rgb(220, 30, 30);}
.paysera h2{color: aliceblue;margin: 0.2rem;}
.paysera button{margin: 1rem 0rem;}

.wise{background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;width: 300px;height: 300px;text-align: center;box-shadow: 0 0 5px rgb(225, 28, 28);}
.wise h2{color: aliceblue;margin: 0.2rem;}
.wise button{margin: 1rem 0rem;}

.netflix{background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block; width: 300px;height: 300px;text-align: center;box-shadow: 0 0 5px rgb(218, 24, 24);}
.netflix h2{color: aliceblue;margin: 0.2rem;}
.netflix button{margin: 1rem 0rem;}

.btn2{width: 70%;height: 50px;border-radius: 50% 20% / 10% 40%;background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: 0.4s ease;box-shadow: 0 0 5px black;color: aliceblue;}
.btn2:hover{background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;}

.btn{background-color: aquamarine;text-decoration:double;color: red;font-size: 30px;}
.item1{width:100%; height:50vh;background-image: url(Pic/pubnet.png);background-size: 100% 300px;}
.item1 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.item2{width:100%; height:50vh;background-image: url(Pic/pubwise.png);background-size: 100% 300px;}
.item2 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.item3{width:100%; height:50vh;background-image: url(Pic/pubnet.png);background-size: 100% 300px;}
.item3 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.item4{width:100%; height:50vh;background-image: url(Pic/pubwise.png);background-size: 100% 300px;}
.item4 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.logobig{width: 100%;height: 250px;cursor: pointer;}
.socialmedia ul li a img{margin: 0rem 1rem;}
.socialmedia ul {margin: 0.1rem 0rem; }
footer{background-color: black;width: 100%;height: 10vh;}
}
@media screen and (max-width:280px) {
    *{margin: 0;padding: 0;}
body{background-color: rgb(242, 231, 16);}
header{width: 100%;
    height: 80px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 4px black;
    display: flex;
    justify-content: space-between;
}
header img{cursor: pointer;}
header ul{overflow: hidden;}
header ul li{
    position: relative;
    list-style-type: none;
    padding-top: 2rem;
}
header ul li a{text-decoration: none;
    color:black;
    font-size: 15px;
    margin: 0rem 0.5rem;
    text-align: center;
    padding-top: 1rem;animation: 0.6s ease-in;
}
header ul li a:hover{color: rgb(238, 16, 112);}

main{width: 100%;height:50vh;overflow: hidden;background-color: aqua;}
.top-banner{width: 100%;height:70%;box-shadow: 0 0 10px black;overflow: hidden;}

.right{width: 100%;height: 200vh;background-color: transparent;}
.info{display: block;width: 100%;height: 150vh; justify-content: center;background-color: transparent;}
.info div{margin: 1rem 0rem;}
.paysera{background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;width: 300px;height: 300px;text-align: center;box-shadow: 0 0 5px rgb(220, 30, 30);}
.paysera h2{color: aliceblue;margin: 0.2rem;}
.paysera button{margin: 1rem 0rem;}

.wise{background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;width: 300px;height: 300px;text-align: center;box-shadow: 0 0 5px rgb(225, 28, 28);}
.wise h2{color: aliceblue;margin: 0.2rem;}
.wise button{margin: 1rem 0rem;}

.netflix{background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block; width: 300px;height: 300px;text-align: center;box-shadow: 0 0 5px rgb(218, 24, 24);}
.netflix h2{color: aliceblue;margin: 0.2rem;}
.netflix button{margin: 1rem 0rem;}

.btn2{width: 70%;height: 50px;border-radius: 50% 20% / 10% 40%;background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: 0.4s ease;box-shadow: 0 0 5px black;color: aliceblue;}
.btn2:hover{background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;}

.btn{background-color: aquamarine;text-decoration:double;color: red;font-size: 30px;}
.item1{width:100%; height:50vh;background-image: url(Pic/pubnet.png);background-size: 100% 200px;}
.item1 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.item2{width:100%; height:50vh;background-image: url(Pic/pubwise.png);background-size: 100% 200px;}
.item2 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.item3{width:100%; height:50vh;background-image: url(Pic/pubnet.png);background-size: 100% 200px;}
.item3 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.item4{width:100%; height:50vh;background-image: url(Pic/PUBWISE2.png);background-size: 100% 200px;}
.item4 button{width: 60px;height: 50px;border-radius: 30%;position: relative;top: 80%;right:5%;background-color: aquamarine;cursor: pointer;}

.logobig{width: 100%;height:300px;cursor: pointer;}
.socialmedia ul li a img{margin: 0rem 1rem;}
.socialmedia ul {margin: 0.1rem 0rem; }
footer{background-color: black;width: 100%;height: 10vh;}
}

